__pycache__
.mypy_cache
.pytest_cache
.python-version
*-mine.*
*.egg-info
*.tgz
*.zip
cookiejar.json
Dockerfile-x
license.json
node_modules
package-lock.json
docker-compose-dev.yml
aci-deploy-foundry-dev.sh
